<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    {% include "common/_head.html" %}

    <link href="../../static/cms/login/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/cms/login/js/jquery.min.js"></script>


</head>


<div class="aui-register-popup">
    <div class="aui-register-box">
        <div class="aui-register-link">
            <a href="javascript:;" class="fl">返回首页</a>
            <a href="{{ url_for('cms.signup') }}" class="fr">没有账号？去注册</a>
        </div>
        <div class="aui-register-logo">
            <img src="../../static/cms/login/images/logo.png" alt="">
        </div>
        <div class="aui-register-form" id="verifyCheck">
            <div class="register-wrap" id="register-wrap">
                <div class="register" id="register">
                    <div class="register-top" id="reg-top">
                        <h2 class="normal" id="normal">普通登录</h2>
                        <h2 class="nopassword" id="nopw">手机无密码登录</h2>
                        <a id="qrcode" href="#" style="display: none">
                            <span class="aui-tag-size">扫码登录</span>
                        </a>
                    </div>
                    <!--账户密码登录-->
                    <div class="register-con" id="rc">
                        <div class="aui-register-form-item">
                            <input type="text" name="phone" maxlength="11" placeholder="手机号"
                                   class="txt03 f-r3 required" tabindex="2"
                                   data-valid="isNonEmpty||isPhone"
                                   data-error="><i class='icon-tips'></i>请输入手机号||<i class='icon-tips'></i>手机号码格式不正确"
                                   id="adminNo">
                            <label class="focus valid"></label>
                        </div>
                        <div class="aui-register-form-item">
                            <input type="password" name="password" placeholder="密码" id="password" maxlength="20"
                                   class="txt04 f-r3 required" tabindex="2" style="ime-mode:disabled;"
                                   onpaste="return  false" autocomplete="off"
                                   data-valid="isNonEmpty||isPwd"
                                   data-error="><i class='icon-tips'></i>请填写密码||<i class='icon-tips'></i>请输入6-16位大、小写字母、数字或特殊字符(!#*_)，至少包含两种">
                            <label class="focus valid"></label>

                        </div>

                        <div class="aui-register-form-item">
                            <p class="aui-for-pwd">
                                <a class="" href="#">忘记密码</a>
                            </p>
                            <input id="aui-btn-reg" class="aui-btn-reg" placeholder="" readonly="readonly" value="登录">
                        </div>


                    </div>

                    <!--手机动态码登录-->
                    <div class="login-con" id="lc">
                        <div class="aui-register-form-item">
                            <input type="text" name="phone-verify" placeholder="手机号码" class="txt01 f-r3 required"
                                   keycodes="tel" tabindex="1" data-valid="isNonEmpty||isPhone"
                                   data-error="><i class='icon-tips'></i>请输入手机号||<i class='icon-tips'></i>手机号码格式不正确"
                                   maxlength="11" id="phone">
                            <label class="focus valid">
                                <div class="msg" style="display:none"><i class='icon-tips'></i>您还未输入手机号</div>
                            </label>
                            <span class="aui-get-code btn btn-gray f-r3 f-ml5 f-size13" id="time_box" disabled
                                  style="display:none;"></span>
                            <span class="aui-get-code btn btn-gray f-r3 f-ml5 f-size13" id="verifyYz">获取动态码</span>
                        </div>
                        <div class="aui-register-form-item">
                            <input type="text" placeholder="动态码" maxlength="6" id="verifyNo"
                                   class="txt02 f-r3 f-fl required" tabindex="2" data-valid="isNonEmpty||isInt"
                                   data-error="><i class='icon-tips'></i>请填写正确的手机动态码||<i class='icon-tips'></i>请填写6位手机动态码">
                            <label class="focus valid"></label>
                        </div>
                        <div class="aui-register-form-item">
                            <input id="aui-btn-reg1" class="aui-btn-reg" placeholder="" readonly="readonly" value="登录">
                        </div>
                        <div class="aui-protocol" style="display: none">
                            登录即同意
                            <a href="#">《bootstrapmb网使用协议》</a>&
                            <a href="#">《隐私权条款》</a>
                        </div>
                        <div class="aui-thirds" style="display: none">
                            <a href="#">
                                <i class="aui-qq-img"></i>
                                <i>QQ登录</i>
                            </a>
                            <a href="#">
                                <i class="aui-wx-img"></i>
                                <i>微信登录</i>
                            </a>
                            <a href="#">
                                <i class="aui-wb-img"></i>
                                <i>微博登录</i>
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>


                    <!-- 扫码登录 -->
                    <div class="saoma" id="sm">
                        <div class="screen-tu" id="screen">
                            <span class="aui-tag-size">密码登录</span>
                        </div>
                        <div class="aui-text-item">
                            <h1>1秒即登录，方便又安全</h1>
                        </div>
                        <div class="qr-code">
                            <span class="tips_img"></span>
                            <img src="../../static/cms/login/images/code.png" alt="">
                        </div>
                        <div class="aui-tab-footer">
                            <p>扫码登录，同步账户信息 | <a href="#">下载APP</a></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="aui-register-bottom" style="display: none">
            <a>©www.bootstrapmb.com</a>
            <a href="#">联系客服</a>
            <a href="#">帮助中心</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/cms/js/login.js"></script>
<script type="text/javascript" src="../../static/cms/login/js/login.js"></script>

</body>
</html>
