{% extends 'cms/cms_base.html' %}
{% block title %}
    其他
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ static('cms/css/others.css') }}">

    <script src="{{ static('cms/js/others.js') }}"></script>
{% endblock %}
{% block main_content %}

    <div class="row">
        <div class="col-md-2">
            <div>餐桌号管理</div>
            <form action="">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="输入餐桌号" name="table-num"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="add-dining-table-btn">+添加</button>
                    </div>
                </div>
            </form>
            <div>
                <table class="table">
                    {% for i in range(0,table_nums|length,3) %}
                        <tr>
                            <td data-table-id="{{ table_nums[i].id }}">{{ table_nums[i].table_num }}<i class="bx bx-trash del-btn"></i></td>
                            {% if i+1<table_nums|length %}
                                <td data-table-id="{{ table_nums[i+1].id }}">{{ table_nums[i+1].table_num}}<i class="bx bx-trash del-btn"></i></td>
                            {% endif %}
                            {% if i+2<table_nums|length %}
                                <td data-table-id="{{ table_nums[i+2].id }}">{{ table_nums[i+2].table_num}}<i class="bx bx-trash del-btn"></i></td>

                            {% endif %}

                        </tr>

                    {% endfor %}
                </table>


            </div>

        </div>
    </div>

{% endblock %}